<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
    <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="/../css/style.css">
</head>

<body>
    <div class="data-table">
        <table border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th width="50px">address_id</th>
                <th>address_line_1</th>
                <th>address_line_2</th>
                <th>post_code</th>
                <th>city</th>
            </tr>

            <% if(data.length){ 
                        
         for(var i = 0;i < data.length;i++) { %>

                <tr>
                    <td>
                        <%=data[i].address_id%>
                    </td>
                    <td>
                        <%=data[i].address_line_1%>
                    </td>
                    <td>
                        <%=data[i].address_line_2%>
                    </td>
                    <td>
                        <%=data[i].post_code%>
                    </td>
                    <td>
                        <%=data[i].city%>
                    </td>
                    <td>
                        <a class="a-inside edit" href="/api/address/<%=data[i].address_id%>">Edit</a>

                        <a class="a-inside delete" href="javascript:void(0)" onClick="deleteAddress(<%=data[i].address_id%>)">Delete</a>

                    </td>
                </tr>
                <% }
    
     }else{ %>
                    <tr>
                        <td colspan="5">No Data</td>
                    </tr>
                    <% } %>

        </table>
    </div>
    <div class="page-data">

        <form method="post" action="" id="the-form">
            <table cellpadding="11">
                <tr>
                    <td class="label">address_line_1</td>
                    <td>:
                        <input type="text" name="address_line_1">
                    </td>
                </tr>
                <tr>
                    <td class="label">address_line_2</td>
                    <td>:
                        <input type="text" name="address_line_2">
                    </td>
                </tr>
                <tr>
                    <td class="label">post_code</td>
                    <td>:
                        <input type="text" name="post_code">
                    </td>
                </tr>
                <tr>
                    <td class="label">city</td>
                    <td>:
                        <input type="text" name="city">
                    </td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp;
                        <input type="button" value="Save" onClick="saveAddress()">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="page-data">
        <ul class="err-area"></ul>
    </div>

    <script>
        function saveAddress() {

            $.ajax({

                url: "/api/address",
                type: "post",
                data: $("#the-form").serialize(),
                success: function (res) {

                    window.location.reload();
                    return false;
                },
                error: function (xhr, status, error) {

                    console.log(xhr.responseText);
                    var err = '';
                    $.each(JSON.parse(xhr.responseText), function (i, item) {

                        err += '<li>' + item.msg + '</li>';
                    });
                    $(".err-area").html(err);
                    return false;
                }

            });
        }

        function deleteAddress(address_id) {

            $.ajax({
                url: "/api/address/" + address_id,
                type: 'DELETE',
                success: function (res) {

                    window.location.reload();
                    return false;
                },
                error: function (xhr, status, error) {

                    console.log(xhr.responseText);
                    alert("Error deleting");
                    return false;
                }
            });
        }
    </script>
</body>

</html>