<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
    <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="/../css/style.css">
</head>

<body>
    <div class="data-table">
        <table border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th width="50px">customer_id</th>
                <th>forename</th>
                <th>surname</th>
                <th>address_id</th>
                <th>phone</th>
                <th>email</th>
            </tr>

            <% if(data.length){ 
                        
         for(var i = 0;i < data.length;i++) { %>

                <tr>
                    <td>
                        <%=(i+1)%>
                    </td>
                    <td>
                        <%=data[i].forename%>
                    </td>
                    <td>
                        <%=data[i].surname%>
                    </td>
                    <td>
                        <%=data[i].address_id%>
                    </td>
                    <td>
                        <%=data[i].phone%>
                    </td>
                    <td>
                        <%=data[i].email%>
                    </td>
                    <td>
                        <a class="a-inside edit" href="/api/customer/<%=data[i].customer_id%>">Edit</a>

                        <a class="a-inside delete" href="javascript:void(0)" onClick="deleteCustomer(<%=data[i].customer_id%>)">Delete</a>

                    </td>
                </tr>
                <% }
    
     }else{ %>
                    <tr>
                        <td colspan="5">No Data</td>
                    </tr>
                    <% } %>

        </table>
    </div>
    <div class="page-data">

        <form method="post" action="" id="the-form">
            <table cellpadding="11">
                <tr>
                    <td class="label">forename</td>
                    <td>:
                        <input type="text" name="forename">
                    </td>
                </tr>
                <tr>
                    <td class="label">surname</td>
                    <td>:
                        <input type="text" name="surname">
                    </td>
                </tr>
                <tr>
                    <td class="label">address_id</td>
                    <td>:
                        <input type="search" name="address_id">
                    </td>
                </tr>
                <tr>
                    <td class="label">phone</td>
                    <td>:
                        <input type="number" name="phone">
                    </td>
                    <td class="label">email</td>
                    <td>:
                        <input type="email" name="email">
                    </td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp;
                        <input type="button" value="Save" onClick="saveCustomer()">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="page-data">
        <ul class="err-area"></ul>
    </div>

    <script>
        function saveCustomer() {

            $.ajax({

                url: "/api/customer",
                type: "post",
                data: $("#the-form").serialize(),
                success: function (res) {

                    window.location.reload();
                    return false;
                },
                error: function (xhr, status, error) {

                    console.log(xhr.responseText);
                    var err = '';
                    $.each(JSON.parse(xhr.responseText), function (i, item) {

                        err += '<li>' + item.msg + '</li>';
                    });
                    $(".err-area").html(err);
                    return false;
                }

            });
        }

        function deleteCustomer(customer_id) {

            $.ajax({
                url: "/api/customer/" + customer_id,
                type: 'DELETE',
                success: function (res) {

                    window.location.reload();
                    return false;
                },
                error: function (xhr, status, error) {

                    console.log(xhr.responseText);
                    alert("Error deleting");
                    return false;
                }
            });
        }
    </script>
</body>

</html>