<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
    <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="/../css/style.css">
</head>

<body>
    <form method="post" action="" id="the-form">
        <table cellpadding="11">
            <tr>
                <td class="label">address_line_1</td>
                <td>:
                    <input type="text" name="address_line_1" value="<%=data[0].address_line_1%>">
                </td>
            </tr>
            <tr>
                <td class="label">address_line_2</td>
                <td>:
                    <input type="text" name="address_line_2" value="<%=data[0].address_line_2%>">
                </td>
            </tr>
            <tr>
                <td class="label">post_code</td>
                <td>:
                    <input type="text" name="post_code" value="<%=data[0].post_code%>">
                </td>
            </tr>
            <tr>
                <td class="label">city</td>
                <td>:
                    <input type="text" name="city" value="<%=data[0].city%>">
                </td>
            </tr>
            <tr>
                <td class="label"></td>
                <td>
                    &nbsp;
                    <input type="button" value="Save" onClick="saveAddress()">
                </td>
            </tr>
        </table>
    </form>
    <script>
        function saveAddress() {

            $.ajax({

                url: "/api/address/" + <%=data[0].address_id%>,
                type: "put",
                data: $("#the-form").serialize(),
                success: function (res) {

                    window.location.href = '/api/address';
                    return false;
                },
                error: function (xhr, status, error) {

                    console.log(xhr.responseText);
                    var err = '';
                    $.each(JSON.parse(xhr.responseText), function (i, item) {

                        err += '<li>' + item.msg + '</li>';
                    });
                    $(".err-area").html(err);
                    return false;
                }

            });
        }
    </script>
</body>

</html>