<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
    <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="/../css/style.css">
</head>

<body>
    <form method="post" action="" id="the-form">
        <table cellpadding="11">
            <tr>
                <td class="label">address_id</td>
                <td>:
                    <input type="text" name="address_id" value="<%=data[0].address_id%>">
                </td>
            </tr>
            <tr>
                <td class="label">phone</td>
                <td>:
                    <input type="text" name="phone" value="<%=data[0].phone%>">
                </td>
            </tr>
            <tr>
                <td class="label">email</td>
                <td>:
                    <input type="text" name="email" value="<%=data[0].email%>">
                </td>
            </tr>
            <tr>
                <td class="label">website</td>
                <td>:
                    <input type="text" name="website" value="<%=data[0].website%>">
                </td>
            </tr>
            <tr>
                <td class="label"></td>
                <td>
                    &nbsp;
                    <input type="button" value="Save" onClick="savesupplier()">
                </td>
            </tr>
        </table>
    </form>
    <script>
        function savesupplier() {

            $.ajax({

                url: "/api/supplier/" + <%=data[0].supplier_id%>,
                type: "put",
                data: $("#the-form").serialize(),
                success: function (res) {

                    window.location.href = '/api/supplier';
                    return false;
                },
                error: function (xhr, status, error) {

                    console.log(xhr.responseText);
                    var err = '';
                    $.each(JSON.parse(xhr.responseText), function (i, item) {

                        err += '<li>' + item.msg + '</li>';
                    });
                    $(".err-area").html(err);
                    return false;
                }

            });
        }
    </script>
</body>

</html>