<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
    <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="/../css/style.css">
</head>

<body>
    <form method="post" action="" id="the-form">
        <table cellpadding="11">
            <tr>
                <td class="label">staff_id</td>
                <td>:
                    <input type="text" name="staff_id" value="<%=data[0].staff_id%>">
                </td>
            </tr>
            <tr>
                <td class="label">item_id</td>
                <td>:
                    <input type="text" name="item_id" value="<%=data[0].item_id%>">
                </td>
            </tr>
            <tr>
                <td class="label">date</td>
                <td>:
                    <input type="text" name="date" value="<%=data[0].date%>">
                </td>
            </tr>
            <tr>
                <td class="label">name</td>
                <td>:
                    <input type="text" name="name" value="<%=data[0].name%>">
                </td>
            </tr>
            <tr>
                <td class="label">cost</td>
                <td>:
                    <input type="text" name="cost" value="<%=data[0].cost%>">
                </td>
            </tr>
            <tr>
                <td class="label"></td>
                <td>
                    &nbsp;
                    <input type="button" value="Save" onClick="saveorder()">
                </td>
            </tr>
        </table>
    </form>
    <script>
        function saveorder() {

            $.ajax({

                url: "/api/order/" + <%=data[0].order_id%>,
                type: "put",
                data: $("#the-form").serialize(),
                success: function (res) {

                    window.location.href = '/api/order';
                    return false;
                },
                error: function (xhr, status, error) {

                    console.log(xhr.responseText);
                    var err = '';
                    $.each(JSON.parse(xhr.responseText), function (i, item) {

                        err += '<li>' + item.msg + '</li>';
                    });
                    $(".err-area").html(err);
                    return false;
                }

            });
        }
    </script>
</body>

</html>