<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
    <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="/../css/style.css">
</head>

<body>
    <form method="post" action="" id="the-form">
        <table cellpadding="11">
            <tr>
                <td class="label">supplier_id</td>
                <td>:
                    <input type="text" name="supplier_id" value="<%=data[0].supplier_id%>">
                </td>
            </tr>
            <tr>
                <td class="label">quantity</td>
                <td>:
                    <input type="text" name="quantity" value="<%=data[0].quantity%>">
                </td>
            </tr>
            <tr>
                <td class="label">location</td>
                <td>:
                    <input type="text" name="location" value="<%=data[0].location%>">
                </td>
            </tr>
            <tr>
                <td class="label"></td>
                <td>
                    &nbsp;
                    <input type="button" value="Save" onClick="savewarehouse()">
                </td>
            </tr>
        </table>
    </form>
    <script>
        function savewarehouse() {

            $.ajax({

                url: "/api/warehouse/" + <%=data[0].warehouse_id%>,
                type: "put",
                data: $("#the-form").serialize(),
                success: function (res) {

                    window.location.href = '/api/warehouse';
                    return false;
                },
                error: function (xhr, status, error) {

                    console.log(xhr.responseText);
                    var err = '';
                    $.each(JSON.parse(xhr.responseText), function (i, item) {

                        err += '<li>' + item.msg + '</li>';
                    });
                    $(".err-area").html(err);
                    return false;
                }

            });
        }
    </script>
</body>

</html>