<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
    <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="/../css/style.css">
</head>

<body>
    <form method="post" action="" id="the-form">
        <table cellpadding="11">
            <tr>
                <td class="label">customer_id</td>
                <td>:
                    <input type="text" name="customer_id" value="<%=data[0].customer_id%>">
                </td>
            </tr>
            <tr>
                <td class="label">staff_id</td>
                <td>:
                    <input type="text" name="staff_id" value="<%=data[0].staff_id%>">
                </td>
            </tr>
            <tr>
                <td class="label">order_id</td>
                <td>:
                    <input type="text" name="order_id" value="<%=data[0].order_id%>">
                </td>
            </tr>
            <tr>
                <td class="label">order_date</td>
                <td>:
                    <input type="text" name="order_date" value="<%=data[0].order_date%>">
                </td>
            </tr>
            <tr>
                <td class="label">delivery_date</td>
                <td>:
                    <input type="text" name="delivery_date" value="<%=data[0].delivery_date%>">
                </td>
            </tr>
            <tr>
                <td class="label"></td>
                <td>
                    &nbsp;
                    <input type="button" value="Save" onClick="savecustomer_order()">
                </td>
            </tr>
        </table>
    </form>
    <script>
        function savecustomer_order() {

            $.ajax({

                url: "/api/customer_order/" + <%=data[0].customer_order_id%>,
                type: "put",
                data: $("#the-form").serialize(),
                success: function (res) {

                    window.location.href = '/api/customer_order';
                    return false;
                },
                error: function (xhr, status, error) {

                    console.log(xhr.responseText);
                    var err = '';
                    $.each(JSON.parse(xhr.responseText), function (i, item) {

                        err += '<li>' + item.msg + '</li>';
                    });
                    $(".err-area").html(err);
                    return false;
                }

            });
        }
    </script>
</body>

</html>