<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
</head>
<body>
<h1>Tables: </h1>
<a href="/api/address">address</a><p></p>
<a href="/api/customer">customer</a><p></p>
<a href="/api/customer_order">customer order</a><p></p>
<a href="/api/item">item</a><p></p>
<a href="/api/item_order">item order</a><p></p>
<a href="/api/staff">staff</a><p></p>
<a href="/api/supplier">supplier</a><p></p>
<a href="/api/warehouse">warehouse</a><p></p>
<a href="/api/workshop">workshop</a><p></p>

</body>
</html>