<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
    <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="/../css/style.css">
</head>

<body>
    <div class="data-table">
        <table border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th width="50px">item_id</th>
                <th>workshop_id</th>
                <th>quantity</th>
                <th>category</th>
                <th>Item</th>
            </tr>

            <% if(data.length){ 
                        
         for(var i = 0;i < data.length;i++) { %>

                <tr>
                    <td>
                        <%=data[i].item_id%>
                    </td>
                    <td>
                        <%=data[i].workshop_id%>
                    </td>
                    <td>
                        <%=data[i].quantity%>
                    </td>
                    <td>
                        <%=data[i].category%>
                    </td>
                    <td>
                        <%=data[i].Item%>
                    </td>
                    <td>
                        <a class="a-inside edit" href="/api/item/<%=data[i].item_id%>">Edit</a>

                        <a class="a-inside delete" href="javascript:void(0)" onClick="deleteitem(<%=data[i].item_id%>)">Delete</a>

                    </td>
                </tr>
                <% }
    
     }else{ %>
                    <tr>
                        <td colspan="5">No Data</td>
                    </tr>
                    <% } %>

        </table>
    </div>
    <div class="page-data">

        <form method="post" action="" id="the-form">
            <table cellpadding="11">
                <tr>
                    <td class="label">workshop_id</td>
                    <td>:
                        <input type="text" name="workshop_id">
                    </td>
                </tr>
                <tr>
                    <td class="label">quantity</td>
                    <td>:
                        <input type="text" name="quantity">
                    </td>
                </tr>
                <tr>
                    <td class="label">category</td>
                    <td>:
                        <input type="text" name="category">
                    </td>
                </tr>
                <tr>
                    <td class="label">Item</td>
                    <td>:
                        <input type="text" name="Item">
                    </td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp;
                        <input type="button" value="Save" onClick="saveitem()">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="page-data">
        <ul class="err-area"></ul>
    </div>

    <script>
        function saveitem() {

            $.ajax({

                url: "/api/item",
                type: "post",
                data: $("#the-form").serialize(),
                success: function (res) {

                    window.location.reload();
                    return false;
                },
                error: function (xhr, status, error) {

                    console.log(xhr.responseText);
                    var err = '';
                    $.each(JSON.parse(xhr.responseText), function (i, item) {

                        err += '<li>' + item.msg + '</li>';
                    });
                    $(".err-area").html(err);
                    return false;
                }

            });
        }

        function deleteitem(item_id) {

            $.ajax({
                url: "/api/item/" + item_id,
                type: 'DELETE',
                success: function (res) {

                    window.location.reload();
                    return false;
                },
                error: function (xhr, status, error) {

                    console.log(xhr.responseText);
                    alert("Error deleting");
                    return false;
                }
            });
        }
    </script>
</body>

</html>