<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
    <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="/../css/style.css">
</head>

<body>
    <div class="data-table">
        <table border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th width="50px">order_id</th>
                <th>staff_id</th>
                <th>item_id</th>
                <th>date</th>
                <th>name</th>
                <th>cost</th>
            </tr>

            <% if(data.length){ 
                        
         for(var i = 0;i < data.length;i++) { %>

                <tr>
                    <td>
                        <%=data[i].order_id%>
                    </td>
                    <td>
                        <%=data[i].staff_id%>
                    </td>
                    <td>
                        <%=data[i].item_id%>
                    </td>
                    <td>
                        <%=data[i].date%>
                    </td>
                    <td>
                        <%=data[i].name%>
                    </td>
                    <td>
                        <%=data[i].cost%>
                    </td>
                    <td>
                        <a class="a-inside edit" href="/api/item_order/<%=data[i].order_id%>">Edit</a>

                        <a class="a-inside delete" href="javascript:void(0)" onClick="deleteitem_order(<%=data[i].order_id%>)">Delete</a>

                    </td>
                </tr>
                <% }
    
     }else{ %>
                    <tr>
                        <td colspan="5">No Data</td>
                    </tr>
                    <% } %>

        </table>
    </div>
    <div class="page-data">

        <form method="post" action="" id="the-form">
            <table cellpadding="11">
                <tr>
                    <td class="label">staff_id</td>
                    <td>:
                        <input type="text" name="staff_id">
                    </td>
                </tr>
                <tr>
                    <td class="label">item_id</td>
                    <td>:
                        <input type="text" name="item_id">
                    </td>
                </tr>
                <tr>
                    <td class="label">date</td>
                    <td>:
                        <input type="date" name="date">
                    </td>
                </tr>
                <tr>
                    <td class="label">name</td>
                    <td>:
                        <input type="text" name="name">
                    </td>
                </tr>
                <tr>
                    <td class="label">cost</td>
                    <td>:
                        <input type="text" name="cost">
                    </td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp;
                        <input type="button" value="Save" onClick="saveitem_order()">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="page-data">
        <ul class="err-area"></ul>
    </div>

    <script>
        function saveitem_order() {

            $.ajax({

                url: "/api/item_order",
                type: "post",
                data: $("#the-form").serialize(),
                success: function (res) {

                    window.location.reload();
                    return false;
                },
                error: function (xhr, status, error) {

                    console.log(xhr.responseText);
                    var err = '';
                    $.each(JSON.parse(xhr.responseText), function (i, item) {

                        err += '<li>' + item.msg + '</li>';
                    });
                    $(".err-area").html(err);
                    return false;
                }

            });
        }

        function deleteitem_order(order_id) {

            $.ajax({
                url: "/api/item_order/" + order_id,
                type: 'DELETE',
                success: function (res) {

                    window.location.reload();
                    return false;
                },
                error: function (xhr, status, error) {

                    console.log(xhr.responseText);
                    alert("Error deleting");
                    return false;
                }
            });
        }
    </script>
</body>

</html>