<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
    <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="/../css/style.css">
</head>

<body>
    <div class="data-table">
        <table border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th width="50px">supplier_id</th>
                <th>supplier_id</th>
                <th>phone</th>
                <th>email</th>
                <th>website</th>
            </tr>

            <% if(data.length){ 
                        
         for(var i = 0;i < data.length;i++) { %>

                <tr>
                    <td>
                        <%=data[i].supplier_id%>
                    </td>
                    <td>
                        <%=data[i].address_id%>
                    </td>
                    <td>
                        <%=data[i].phone%>
                    </td>
                    <td>
                        <%=data[i].email%>
                    </td>
                    <td>
                        <%=data[i].website%>
                    </td>
                    <td>
                        <a class="a-inside edit" href="/api/supplier/<%=data[i].supplier_id%>">Edit</a>

                        <a class="a-inside delete" href="javascript:void(0)" onClick="deletesupplier(<%=data[i].supplier_id%>)">Delete</a>

                    </td>
                </tr>
                <% }
    
     }else{ %>
                    <tr>
                        <td colspan="5">No Data</td>
                    </tr>
                    <% } %>

        </table>
    </div>
    <div class="page-data">

        <form method="post" action="" id="the-form">
            <table cellpadding="11">
                <tr>
                    <td class="label">address_id</td>
                    <td>:
                        <input type="text" name="address_id">
                    </td>
                </tr>
                <tr>
                    <td class="label">phone</td>
                    <td>:
                        <input type="number" name="phone">
                    </td>
                </tr>
                <tr>
                    <td class="label">email</td>
                    <td>:
                        <input type="text" name="email">
                    </td>
                </tr>
                <tr>
                    <td class="label">website</td>
                    <td>:
                        <input type="text" name="website">
                    </td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp;
                        <input type="button" value="Save" onClick="savesupplier()">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="page-data">
        <ul class="err-area"></ul>
    </div>

    <script>
        function savesupplier() {

            $.ajax({

                url: "/api/supplier",
                type: "post",
                data: $("#the-form").serialize(),
                success: function (res) {

                    window.location.reload();
                    return false;
                },
                error: function (xhr, status, error) {

                    console.log(xhr.responseText);
                    var err = '';
                    $.each(JSON.parse(xhr.responseText), function (i, item) {

                        err += '<li>' + item.msg + '</li>';
                    });
                    $(".err-area").html(err);
                    return false;
                }

            });
        }

        function deletesupplier(supplier_id) {

            $.ajax({
                url: "/api/supplier/" + supplier_id,
                type: 'DELETE',
                success: function (res) {

                    window.location.reload();
                    return false;
                },
                error: function (xhr, status, error) {

                    console.log(xhr.responseText);
                    alert("Error deleting");
                    return false;
                }
            });
        }
    </script>
</body>

</html>