<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
    <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="/../css/style.css">
</head>

<body>
    <div class="data-table">
        <table border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th width="50px">workshop_id</th>
                <th>warehouse_id</th>
                <th>quantity</th>
                <th>refill_date</th>
            </tr>

            <% if(data.length){ 
                        
         for(var i = 0;i < data.length;i++) { %>

                <tr>
                    <td>
                        <%=data[i].workshop_id%>
                    </td>
                    <td>
                        <%=data[i].warehouse_id%>
                    </td>
                    <td>
                        <%=data[i].quantity%>
                    </td>
                    <td>
                        <%=data[i].refill_date%>
                    </td>
                    <td>
                        <a class="a-inside edit" href="/api/workshop/<%=data[i].workshop_id%>">Edit</a>

                        <a class="a-inside delete" href="javascript:void(0)" onClick="deleteworkshop(<%=data[i].workshop_id%>)">Delete</a>

                    </td>
                </tr>
                <% }
    
     }else{ %>
                    <tr>
                        <td colspan="5">No Data</td>
                    </tr>
                    <% } %>

        </table>
    </div>
    <div class="page-data">

        <form method="post" action="" id="the-form">
            <table cellpadding="11">
                <tr>
                    <td class="label">warehouse_id</td>
                    <td>:
                        <input type="text" name="warehouse_id">
                    </td>
                </tr>
                <tr>
                    <td class="label">quantity</td>
                    <td>:
                        <input type="text" name="quantity">
                    </td>
                </tr>
                <tr>
                    <td class="label">refill_date</td>
                    <td>:
                        <input type="date" name="refill_date">
                    </td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp;
                        <input type="button" value="Save" onClick="saveworkshop()">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="page-data">
        <ul class="err-area"></ul>
    </div>

    <script>
        function saveworkshop() {

            $.ajax({

                url: "/api/workshop",
                type: "post",
                data: $("#the-form").serialize(),
                success: function (res) {

                    window.location.reload();
                    return false;
                },
                error: function (xhr, status, error) {

                    console.log(xhr.responseText);
                    var err = '';
                    $.each(JSON.parse(xhr.responseText), function (i, item) {

                        err += '<li>' + item.msg + '</li>';
                    });
                    $(".err-area").html(err);
                    return false;
                }

            });
        }

        function deleteworkshop(workshop_id) {

            $.ajax({
                url: "/api/workshop/" + workshop_id,
                type: 'DELETE',
                success: function (res) {

                    window.location.reload();
                    return false;
                },
                error: function (xhr, status, error) {

                    console.log(xhr.responseText);
                    alert("Error deleting");
                    return false;
                }
            });
        }
    </script>
</body>

</html>